{% extends "base.html" %}  
{% block content %}  
      <div class="row"><!-- row -->
        <div class="span6 offset3">
          <form method="post" action="/todos/update/{{ todo.id }}/" id="edit-todo-form">{% csrf_token %}
            <fieldset>
              <legend>Edit todo</legend>
              <textarea id="headline" class="span3" name="headline" placeholder="Add a headline to you todo" maxlength="50" rows="2" />{{  todo.headline  }}</textarea><br>
              <textarea id="bodytext" class="span3" name="bodytext" maxlength="300" rows="10" placeholder="Add a more details to you todo..." />{{  todo.bodytext  }}</textarea><br>
              <input type="submit" class="btn btn-primary" value="Update"><br>
            </fieldset>          
          </form>
        </div>
      </div><!-- / row -->{% endblock content %}
