{% extends "base.html" %}
{% block body-class %} class="frontpage-body"{% endblock body-class %}
{% load staticfiles %}
{% block content %}
      <section id="front-page-display" class="row"><!-- row -->
        <div class="span6 frontpage_darkend">
          <div class="row">
              <div class="span3">
                <h5>Know what</h5>
                <h1>Todo.</h1>
              </div>
              <div class="span3 second-box-front-page-display">
                <p>Ticked is a wesite that allows you to track your daily todos. Use it instead of your normal lists or post-its to keep your desk and your mind clear.</p><br />
                <button class="btn btn-primary btn-large" >Sign up now!</button>
              </div>            
          </div>
        </div>
      </section><!-- / row -->     {% endblock content %}
